# ==========================================
# 1. EXECUTABLES & BINARIES
# ==========================================
*.[bB][iI][nN]
*.[eE][xX][eE]
*.[oO]
*.[oO][uU][tT]

# ==========================================
# 2. TEST DATA & TEXT FILES
# ==========================================
*.[iI][nN][pP]
*.[oO][uU][tT]
*.[aA][nN][sS]
*.[tT][xX][tT]
*.[iI][nN]

# ==========================================
# 3. IDE & SYSTEM TEMPS
# ==========================================
.vscode/*
!.vscode/tasks.json
.DS_Store
.prettierrc